body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: background-color 2s, color 2s;
}

header, footer {
  padding: 20px;
  background-color: #f0f0f0;
  position: relative;
  transition: background-color 2s, color 2s;
  top: 0px;
}

body.dark header {
  background-color: #547588;
  color: #dda026;
}

body.dark footer {
  background-color: #dda026;
  color: black;
}

main {
  padding: 20px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

body.dark {
  background-color: black;
  color: #dda026;
}
