body {
    font-family: Arial, sans-serif;
    background-color: #fff8dc;
    color: #5c3d1a;
    padding: 2rem;
    transition: background-color .3s, color .3s;
}

body.dark-mode {
    background-color: plum;
    color: rgb(51, 8, 51);
}

.faq {
    margin-top: 2rem;
}

.faq-answer {
    margin-left: 1rem;
    color: #8b572a; 
}

.hidden {
    display: none;
}

button {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #d2b48c;
    color: #5c3d1a; 
    border: 0.125rem solid #8b572a;
    border-radius: 0.3rem;
    transition: background-color 0.3s;
    
}

body.dark-mode button {
    color: rgb(68, 35, 58);
    background-color: rgb(214, 173, 255);
    border: 0.125rem solid palevioletred;
}

button:hover {
    background-color: #e5c9a8;
}

.smallest-font {
    font-size: 10px;
}

.smaller-font {
    font-size: 20px;
}

.medium-font {
    font-size: 50px;
}

.large-font {
    font-size: 100px;
}
  